


@keyframes truottrai {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }





  @keyframes truotdoc {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

